@model IEnumerable<MvcApiCall.Models.Article>

<h2>All Articles</h2>
<hr />
<ol>
    @foreach (var article in Model)
    {
        <li>
            <ul>
                <li>Section: @Html.DisplayFor(modelItem => article.Section)</li>
                <li>Title: @Html.DisplayFor(modelItem => article.Title)</li>
                <li>Abstract: @Html.DisplayFor(modelItem => article.Abstract)</li>
                <li>Url: @Html.DisplayFor(modelItem => article.Url)</li>
                <li>Byline: @Html.DisplayFor(modelItem => article.Byline)</li>
                </ul>
        </li>
    }
</ol>